/* Базовые стили для сайта */
body {
  font-family: Inter, Arial, sans-serif;
  background-color: #161616;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  min-width: 320px;
}

h1, h2, p {
  text-box: trim-both cap alphabetic;
  padding: 0px;
  margin: 0px;
}


h1 {
  font-size: 48px;
  margin: 0 0 0.6em;
  line-height: 1em;
}

h2 {
  font-size: 24px;
  margin: 0 0 0.8em;
  line-height: 1em;
}

.mobile_text {
  display: none;
}






.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 равных колонок */
  gap: 20px; /* отступы между колонками */
  max-width: 1400px;
  margin: 0 auto 5em;
  box-sizing: border-box; /* чтобы ширина контейнера учитывала отступы */
}

.container h1:not(:first-child) {
  margin-top: 0.8em;
}

.container h2:not(:first-child) {
  margin-top: 0.8em;
}

/* Классы для ширины */
[class^="col-"] {
  /* background: #565656; */
  box-sizing: border-box;
}

[class^="col-"] img {
  width: 100%;        /* растягивается на всю ширину блока */
  height: auto;       /* сохраняет пропорции */
  display: block;
  object-fit: cover;   /* заполняет блок без искажений */
  object-position: center; /* центрирует картинку */

}

/* Универсальное правило: */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* ограничение максимальной высоты картинки при блоке на 12 колонок */
.temp_i12h1t12 .col-12 img {
  max-height: 700px;
}

.temp_i10_h2t2 .col-10 img {
  max-height: 780px;
}


.temp_i6h2t6_i6h2t6 .col-6 img,
.temp_i6t6_i6t6 .col-6 img,
.temp_s3_i3_i3_h2t3 .col-3 img,
.temp_s3_i3_i3_t3 .col-3 img,
.temp_i6_i3_h2t3 img,
.temp_i6_i3_t3 img{
  height: 100%;
}

/* .temp_i8_i2x4_h1t12 .col-4, .temp_i8_i2x4_h1t12 .col-8{
  height: 620px;
}

.temp_i8_i2x4_h1t12 .col-8 img{
  height: 100%;
} */

.temp_i8_i2x4_h1t12 .col-4 {
  display: flex;
  flex-direction: column; /* расположение по вертикали */
  height: 620px;          /* общая высота контейнера */
  gap: 20px; 
}

.temp_i8_i2x4_h1t12 .col-4 * {
  flex: 1;
  display: flex;
  align-items: center;    /* выравнивание контента по вертикали внутри блока */
  justify-content: center; 
}



.temp_i6h2t6_i6h2t6 .col-6 img,
.temp_i6t6_i6t6 .col-6 img {
  max-height: 460px;
}

.temp_i6t6_i6t6 .col-6 img,
.temp_s3_i3_i3_t3 .col-3 img,
.temp_i6_i3_t3 .col-3 img {
    margin-bottom: 0.8em;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .container {
    margin-bottom: 3em;
    gap: 10px;
  }
  .temp_i10_h2t2 .col-10 { grid-column: span 8; }
  .temp_i10_h2t2 .col-2 { grid-column: span 4; }


}

@media (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .container h2 {
    margin-top: 0.8em;
  }
  p {
    font-size: 12px;
  }
  .container {
    margin-bottom: 2.5em;
    gap: 6px;
  }

  .temp_i10_h2t2,
  .temp_i6_h2t6,
  .temp_s3_i3_i3_h2t3,
  .temp_s3_i3_i3_t3{
    row-gap: 0px;
  }
        
  .temp_i6h2t6_i6h2t6{
    row-gap: 2.5em;
  }

  .temp_i12h1t12 .col-12 img, 
  .temp_i10_h2t2 .col-10 img,
  .temp_i6_h2t6 .col-6 img,
  .temp_i6_i3_h2t3 .col-3 img,
  .temp_i6_i3_t3 .col-3 img{
    height: 420px;
  }

  .temp_i6h2t6_i6h2t6 .col-6 img,
  .temp_i6_i3_h2t3 .col-6 img,
  .temp_i6_i3_t3 .col-6 img{
    height: 280px;
  }

  .temp_i6t6_i6t6 .col-6 img,
  .temp_i6_t6 .col-6 img,
  .temp_s3_i3_i3_t3 .col-3 img{
    height: 320px;
  }
  

  .temp_i10_h2t2 .col-10 { grid-column: span 12; }
  .temp_i10_h2t2 .col-2 { grid-column: span 12; }
  .temp_i6h2t6_i6h2t6 .col-6 { grid-column: span 12; }
  .temp_i6_h2t6 .col-6 { grid-column: span 12; }
  .temp_s3_i3_i3_h2t3 .col-3 { grid-column: span 6; }
  .temp_s3_i3_i3_t3 .col-3 { grid-column: span 6; }
  .temp_i6_i3_h2t3 .col-6, .temp_i6_i3_h2t3 .col-3 { grid-column: span 12; }
  .temp_i6_i3_t3 .col-6, .temp_i6_i3_t3 .col-3 { grid-column: span 12; }
  .temp_s3_i3_i3_h2t3 .mobile-col-12 { grid-column: span 12; }
  .temp_s3_i3_i3_t3 .mobile-col-12 { grid-column: span 12; }

  .mobile_text {
    display: block;
  }

  .desktop_text {
    display: none;
  }
}