/* Базовые стили для сайта */
body {
  font-family: Inter, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  min-width: 320px;
}

h1, h2, p {
  text-box: trim-both cap alphabetic;
  padding: 0px;
  margin: 0px;
}


h1 {
  font-size: 48px;
  margin: 0 0 0.6em;
  line-height: 1em;
}

h2 {
  font-size: 24px;
  margin: 0 0 0.8em;
  line-height: 1em;
}

.mobile_text {
  display: none;
}






.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 равных колонок */
  gap: 20px; /* отступы между колонками */
  max-width: 1400px;
  margin: 0 auto 5em;
  box-sizing: border-box; /* чтобы ширина контейнера учитывала отступы */
}

.container h1 {
  margin-top: 0.8em;
}

.container h2:not(:first-child) {
  margin-top: 0.8em;
}

/* Классы для ширины */
[class^="col-"] {
  /* background: #565656; */
  box-sizing: border-box;
}

[class^="col-"] img {
  width: 100%;        /* растягивается на всю ширину блока */
  height: auto;       /* сохраняет пропорции */
  display: block;
  object-fit: cover;   /* заполняет блок без искажений */
  object-position: center; /* центрирует картинку */

}

/* Универсальное правило: */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* ограничение максимальной высоты картинки при блоке на 12 колонок */
.temp_i12h1t12 .col-12 img {
  max-height: 700px;
}

.temp_i10_h2t2 .col-10 img{
  max-height: 780px;
}


.temp_i6h2t6_i6h2t6 .col-6 img,
.temp_i6t6_i6t6 .col-6 img,
.temp_i3t3x4 .col-3 img,
.temp_s3_i3_i3_h2t3 .col-3 img,
.temp_s3_i3_i3_t3 .col-3 img,
.temp_i6_i3_h2t3 img,
.temp_i6_i3_t3 img,
.temp_i8_i2x4_h1t12 img,
.temp_i8_i2x4_t12 img,
.temp_i8_i4h2t4 img,
.temp_i8_i4t4 img,
.temp_i7_h1t5_i5x2 img,
.temp_i7_h2t5_i5x2 img,
.temp_i7_t5_i5x2 img,
.temp_h1t5_i7 img,
.temp_h2t5_i7 img,
.temp_t5_i7 img {
  height: 100%;
}


.temp_i8_i2x4_h1t12,
.temp_i8_i2x4_t12,
.temp_i8_i4h2t4,
.temp_i8_i4t4 {
  grid-template-rows: 320px 320px auto; /* первые 2 строки — фиксированные, дальше авто */
}

.temp_i7_h1t5_i5x2,
.temp_i7_h2t5_i5x2,
.temp_i7_t5_i5x2,
.temp_h1t5_i7,
.temp_h2t5_i7,
.temp_t5_i7 {
  grid-template-rows: 320px 320px auto; /* первые 2 строки — фиксированные, дальше авто */
}

.temp_i7_h1t5_i5x2 h1,
.temp_i7_h2t5_i5x2 h2,
.temp_i7_t5_i5x2,
.temp_h1t5_i7,
.temp_h2t5_i7,
.temp_t5_i7 {
  margin-top: 0;
}

.temp_i8_i2x4_h1t12 .col-8,
.temp_i8_i2x4_t12 .col-8,
.temp_i8_i4h2t4 .col-8,
.temp_i8_i4t4 .col-8 {
  grid-row: span 2;
}

.temp_i7_h1t5_i5x2 .col-7,
.temp_i7_h2t5_i5x2 .col-7,
.temp_i7_t5_i5x2 .col-7,
.temp_h1t5_i7 .col-7,
.temp_h2t5_i7 .col-7,
.temp_t5_i7 .col-7 {
  grid-row: span 3;
}

.temp_i8_i2x4_h1t12 .col-12 {
  margin-top: -20px; /* компенсация gap в grid*/
}

.temp_i8_i2x4_t12 .col-12 {
  margin-top: calc(0.8em - 20px); /* компенсация gap в grid*/
}



.temp_i6h2t6_i6h2t6 .col-6 img,
.temp_i6t6_i6t6 .col-6 img,
.temp_i3t3x4 .col-3 img,
.temp_s3_i3_i3_h2t3 .col-3 img{
  max-height: 460px;
}



.temp_s3_i3_i3_t3 .col-3 img,
.temp_i6_i3_t3 .col-3 img{
  margin-bottom: 0.8em;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .container {
    margin-bottom: 3em;
    gap: 10px;
  }
  .temp_i10_h2t2 .col-10 { grid-column: span 8; }
  .temp_i10_h2t2 .col-2 { grid-column: span 4; }

  .temp_i8_i2x4_h1t12,
  .temp_i8_i2x4_t12,
  .temp_i8_i4h2t4,
  .temp_i8_i4t4 {
    grid-template-rows: 200px 200px auto; /* первые 2 строки — фиксированные, дальше авто */
  }

  .temp_i7_h1t5_i5x2,
  .temp_i7_h2t5_i5x2,
  .temp_i7_t5_i5x2,
  .temp_h1t5_i7,
  .temp_h2t5_i7,
  .temp_t5_i7 {
    grid-template-rows: 200px 200px auto; /* первые 2 строки — фиксированные, дальше авто */
  }
  
  .temp_i8_i2x4_h1t12 .col-12{
    margin-top: -10px; /* компенсация gap в grid*/
  }
  .temp_i8_i2x4_t12 .col-12 {
    margin-top: calc(0.8em - 10px); /* компенсация gap в grid*/
  }


}

@media (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .container h2 {
    margin-top: 0.8em;
  }
  p {
    font-size: 12px;
  }
  .container {
    margin-bottom: 2.5em;
    gap: 6px;
  }

  .temp_i6t6_i6t6 .col-6 img,
  .temp_i3t3x4 .col-3 img{
    margin-bottom: 0.8em;
  }

  .temp_i8_i2x4_h1t12 .col-12,
  .temp_i8_i2x4_t12 .col-12 {
    margin-top: -6px; /* компенсация gap в grid*/
  }
  .temp_i8_i2x4_t12 .col-12 {
    margin-top: calc(0.8em - 6px); /* компенсация gap в grid*/
  }

  .temp_i7_h1t5_i5x2 h1,
  .temp_i7_h2t5_i5x2 h2,
  .temp_h1t5_i7 h1,
  .temp_h2t5_i7 h2 {
    margin-top: calc(0.8em - 6px); /* компенсация gap в grid*/
  }
  .temp_i7_t5_i5x2 p,
  .temp_t5_i7 p {
    margin-top: calc(1.05em - 6px); /* компенсация gap в grid*/
  }

  .temp_i10_h2t2,
  .temp_i6_h2t6,
  .temp_s3_i3_i3_h2t3,
  .temp_s3_i3_i3_t3,
  .temp_i8_i4h2t4,
  .temp_i8_i4t4{
    row-gap: 0px;
  }
        
  .temp_i6h2t6_i6h2t6{
    row-gap: 2.5em;
  }

  .temp_i8_i4t4 p {
    margin-top: 1.05em;
  }

  .temp_i3t3x4 .add_margin {
     margin-bottom: 2.5em;
  }
 

  

  .temp_i12h1t12 .col-12 img, 
  .temp_i10_h2t2 .col-10 img,
  .temp_i6_h2t6 .col-6 img,
  .temp_i6_i3_h2t3 .col-3 img,
  .temp_i6_i3_t3 .col-3 img,
  .temp_h1t5_i7 .col-7 img,
  .temp_h2t5_i7 .col-7 img,
  .temp_t5_i7 {
    height: 420px;
  }

  .temp_i6h2t6_i6h2t6 .col-6 img,
  .temp_i6_i3_h2t3 .col-6 img,
  .temp_i6_i3_t3 .col-6 img,
  .temp_h1t5_i7 .col-5 img,
  .temp_h2t5_i7 .col-5 img,
  .temp_t5_i7 .col-5 img {
    height: 280px;
  }

  .temp_i6t6_i6t6 .col-6 img,
  .temp_i3t3x4 .col-3 img,
  .temp_i6_t6 .col-6 img,
  .temp_s3_i3_i3_t3 .col-3 img{
    height: 320px;
  }
  
  .temp_i8_i4h2t4,
  .temp_i8_i4t4 {
    grid-template-rows: 130px 130px auto; /* первые 2 строки — фиксированные, дальше авто */
  }

  .temp_i7_h1t5_i5x2,
  .temp_i7_h2t5_i5x2,
  .temp_i7_t5_i5x2{
    grid-template-rows: 200px 200px auto; /* первые 2 строки — фиксированные, дальше авто */
  }

  .temp_h1t5_i7,
  .temp_h2t5_i7,
  .temp_t5_i7 {
    grid-template-rows: auto; /* все строки авто */
  }

  

  .temp_i10_h2t2 .col-10 { grid-column: span 12; }
  .temp_i10_h2t2 .col-2 { grid-column: span 12; }
  .temp_i6h2t6_i6h2t6 .col-6 { grid-column: span 12; }
  .temp_i6_h2t6 .col-6 { grid-column: span 12; }
  .temp_s3_i3_i3_h2t3 .col-3 { grid-column: span 6; }
  .temp_s3_i3_i3_t3 .col-3 { grid-column: span 6; }
  .temp_i6_i3_h2t3 .col-6, .temp_i6_i3_h2t3 .col-3 { grid-column: span 12; }
  .temp_i6_i3_t3 .col-6, .temp_i6_i3_t3 .col-3 { grid-column: span 12; }
  .temp_s3_i3_i3_h2t3 .mobile-col-12 { grid-column: span 12; }
  .temp_s3_i3_i3_t3 .mobile-col-12 { grid-column: span 12; }

  .temp_i8_i4h2t4 .side_img {grid-row: span 2;}
  .temp_i8_i4h2t4 .mobile-col-12 { grid-column: span 12; }

  .temp_i8_i4t4 .side_img {grid-row: span 2;}
  .temp_i8_i4t4 .mobile-col-12 { grid-column: span 12; }

  .temp_i7_h1t5_i5x2 .col-7 {grid-row: span 2; grid-column: span 8;}
  .temp_i7_h1t5_i5x2 .col-5 { grid-column: span 4; }
  .temp_i7_h1t5_i5x2 .mobile-col-12 { grid-column: span 12; }

  .temp_i7_h2t5_i5x2 .col-7 {grid-row: span 2; grid-column: span 8;}
  .temp_i7_h2t5_i5x2 .col-5 { grid-column: span 4; }
  .temp_i7_h2t5_i5x2 .mobile-col-12 { grid-column: span 12; }

  .temp_i7_t5_i5x2 .col-7 {grid-row: span 2; grid-column: span 8;}
  .temp_i7_t5_i5x2 .col-5 { grid-column: span 4; }
  .temp_i7_t5_i5x2 .mobile-col-12 { grid-column: span 12; }

  .temp_h1t5_i7 .col-5 { grid-column: span 12; }
  .temp_h1t5_i7 .col-7 { grid-column: span 12; }

  .temp_h2t5_i7 .col-5 { grid-column: span 12; }
  .temp_h2t5_i7 .col-7 { grid-column: span 12; }

  .temp_t5_i7 .col-5 { grid-column: span 12; }
  .temp_t5_i7 .col-7 { grid-column: span 12; }

  .temp_i3t3x4 .col-3 { grid-column: span 6; }


  .mobile_text {
    display: block;
  }

  .desktop_text {
    display: none;
  }
}