/* Базовые стили для сайта */
* {
  font-family: Inter, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0 20px 60px;
}

h1, h2, p, a {
  text-box: trim-both cap alphabetic;
  padding: 0px;
  margin: 0px;
}

a{
  color: #1750B9;
  text-underline-offset: 3px;
  text-decoration-thickness: 0.5px;
  text-decoration-color:#1750B9;
}

h1 {
  font-size: 48px;
  margin: 0 0 0.6em;
  line-height: 1em;
}

h2 {
  font-size: 24px;
  margin: 0 0 0.8em;
  line-height: 1em;
}

.profile_row h2 {
  margin: 0;
}

.mobile_text {
  display: none;
}

.text_block .project_page{
    display: none;
  }

.block-link {
  display: block;       /* чтобы <a> занимал весь блок */
  text-decoration: none; /* убираем подчеркивание */
  color: inherit;        /* цвет текста внутри наследуется */
}



/* Header */
.avatar {
  min-width: 62px;
  height: 62px;
  border-radius: 50%;               /* делает круг */
  overflow: hidden;                 /* обрезает всё за пределами круга */
  background-image: url("img/photo.png"); /* путь к аватарке */
  background-size: 140%;            /* масштаб (100% = оригинал, больше = зум) */
  background-position: 50% 20%;     /* смещение: X Y (0–100%) */
  background-repeat: no-repeat;     /* не повторять */
  border: 1px solid #D7D7D7;           /* опционально — рамка */
}

.btn_back{
  min-width: 62px;
  height: 62px;
  pointer-events: all;
  cursor: pointer;
}

.home-block{
  display: block;
  text-decoration: none; /* убирает подчеркивание */
  color: inherit;        /* цвет текста сохраняется */
}

.profile_row {
  width:100%;
  max-width:750px;
  display: flex;
  align-items: flex-start;  /* вертикально выравнивание по верхнему краю */
  gap: 12px;
  background: #fff;

  /* ключевой момент */
  height: auto; /* блок подстраивается под контент */
  min-height: 62px; /* под размер аватара */

  cursor: pointer;
}

/* текстовый блок — занимает всё оставшееся пространство */
.text_block {
  display: flex;
  flex-direction: column;
  gap: 14px;                /* вертикальный отступ между двумя строками */
  flex: 1 1 auto;           /* растягивается на доступную ширину */
  min-width: 0; 
  width: 100%;            /* важно для корректного обтекания текста в flex */
}

.profile_info {
  width:100%;
  display: flex;
  align-items: flex-start;  /* вертикально выравнивание по верхнему краю */
  gap: 20px;
  background: #fff;

  /* ключевой момент */
  height: auto; /* блок подстраивается под контент */
  min-height: 62px; /* под размер аватара */  
}

.profile_contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: max-content; 
}



.profile {
  position: fixed;   /* шапка фиксируется на экране при показе */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* чтобы шапка была поверх всего */
  transform: translateY(0);       /* начальное положение */
  transition: transform 0.2s ease;
  
  max-width: 1400px;
  margin: 0 auto;
  height: auto; /* блок подстраивается под контент */
  min-height: 62px; /* под размер аватара */
  padding: 20px 0;


  display: flex;
  align-items: flex-start;  /* вертикально выравнивание по верхнему краю */
  gap: 20px;
  background: #fff;
}

/* тень под шапкой */
.profile::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;       /* чуть ниже границы */
  width: 100%;
  height: 4px;        /* высота тени */
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), transparent);
  pointer-events: none;
}

.hidden{
  display:none
}

.add_border{
  border: 1px solid #D7D7D7; 
}

.remove_margin{
  margin-bottom: 0 !important;
}


.link_airport,
.link_digest {
  cursor: pointer;
}





.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 равных колонок */
  gap: 20px; /* отступы между колонками */
  max-width: 1400px;
  margin: 0 auto 5em;
  box-sizing: border-box; /* чтобы ширина контейнера учитывала отступы */
}

.container h1 {
  margin-top: 0.8em;
}

.container h2:not(:first-child) {
  margin-top: 0.8em;
}

/* Классы для ширины */
[class^="col-"] {
  /* background: #565656; */
  box-sizing: border-box;
}

[class^="col-"] img {
  width: 100%;        /* растягивается на всю ширину блока */
  height: auto;       /* сохраняет пропорции */
  display: block;
  object-fit: cover;   /* заполняет блок без искажений */
  object-position: center; /* центрирует картинку */

}

[class^="col-"] .media_video {
  width: 100%;        /* растягивается на всю ширину блока */
  height: auto;       /* сохраняет пропорции */
  display: block;
  object-fit: cover;   /* заполняет блок без искажений */
  object-position: center; /* центрирует картинку */

}

/* Универсальное правило: */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* ограничение максимальной высоты картинки при блоке на 12 колонок */
.temp_i12h1t12 .col-12 img,
.temp_i12h1t12 .media_video,
.temp_i12t12 .col-12 img,
.temp_i12t12 .media_video {
  max-height: 700px;
}

.temp_i10_h2t2 .col-10 img,
.temp_i10_h2t2 .media_video {
  max-height: 780px;
}


.temp_i6h2t6_i6h2t6 .col-6 .media_video,
.temp_i6t6_i6t6 .col-6 .media_video,
.temp_i3t3x4 .col-3 .media_video,
.temp_s3_i3_i3_h2t3 .col-3 .media_video,
.temp_s3_i3_i3_t3 .col-3 .media_video,
.temp_i6_i3_h2t3 .media_video,
.temp_i6_i3_t3 .media_video,
.temp_i8_i2x4_h1t12 .media_video,
.temp_i8_i2x4_t12 .media_video,
.temp_i8_i4h2t4 .media_video,
.temp_i8_i4t4 .media_video,
.temp_i7_h1t5_i5x2 .media_video,
.temp_i7_h2t5_i5x2 .media_video,
.temp_i7_t5_i5x2 .media_video,
.temp_h1t5_i7 .media_video,
.temp_h2t5_i7 .media_video,
.temp_t5_i7 .media_video {
  height: 100%;
}

.temp_i6h2t6_i6h2t6 .col-6 img,
.temp_i6t6_i6t6 .col-6 img,
.temp_i3t3x4 .col-3 img,
.temp_s3_i3_i3_h2t3 .col-3 img,
.temp_s3_i3_i3_t3 .col-3 img,
.temp_i6_i3_h2t3 img,
.temp_i6_i3_t3 img,
.temp_i8_i2x4_h1t12 img,
.temp_i8_i2x4_t12 img,
.temp_i8_i4h2t4 img,
.temp_i8_i4t4 img,
.temp_i7_h1t5_i5x2 img,
.temp_i7_h2t5_i5x2 img,
.temp_i7_t5_i5x2 img,
.temp_h1t5_i7 img,
.temp_h2t5_i7 img,
.temp_t5_i7 img {
  height: 100%;
}


.temp_i8_i2x4_h1t12,
.temp_i8_i2x4_t12,
.temp_i8_i4h2t4,
.temp_i8_i4t4 {
  grid-template-rows: 320px 320px auto; /* первые 2 строки — фиксированные, дальше авто */
}

.temp_i7_h1t5_i5x2,
.temp_i7_h2t5_i5x2,
.temp_i7_t5_i5x2,
.temp_h1t5_i7,
.temp_h2t5_i7,
.temp_t5_i7 {
  grid-template-rows: 320px 320px auto; /* первые 2 строки — фиксированные, дальше авто */
}

.temp_i7_h1t5_i5x2 h1,
.temp_i7_h2t5_i5x2 h2,
.temp_i7_t5_i5x2,
.temp_h1t5_i7,
.temp_h2t5_i7,
.temp_t5_i7 {
  margin-top: 0;
}

.temp_i8_i2x4_h1t12 .col-8,
.temp_i8_i2x4_t12 .col-8,
.temp_i8_i4h2t4 .col-8,
.temp_i8_i4t4 .col-8 {
  grid-row: span 2;
}

.temp_i7_h1t5_i5x2 .col-7,
.temp_i7_h2t5_i5x2 .col-7,
.temp_i7_t5_i5x2 .col-7,
.temp_h1t5_i7 .col-7,
.temp_h2t5_i7 .col-7,
.temp_t5_i7 .col-7 {
  grid-row: span 3;
}

.temp_i8_i2x4_h1t12 .col-12 {
  margin-top: -20px; /* компенсация gap в grid*/
}

.temp_i8_i2x4_t12 .col-12 {
  margin-top: calc(0.8em - 20px); /* компенсация gap в grid*/
}



.temp_i6h2t6_i6h2t6 .col-6 img,
.temp_i6t6_i6t6 .col-6 img,
.temp_i3t3x4 .col-3 img,
.temp_s3_i3_i3_h2t3 .col-3 img{
  max-height: 460px;
}

.temp_i6h2t6_i6h2t6 .col-6 .media_video,
.temp_i6t6_i6t6 .col-6 .media_video,
.temp_i3t3x4 .col-3 .media_video,
.temp_s3_i3_i3_h2t3 .col-3 .media_video{
  max-height: 460px;
}



.temp_s3_i3_i3_t3 .col-3 img,
.temp_i6_i3_t3 .col-3 img,
.temp_i12t12 .col-12 img{
  margin-bottom: 0.8em;
}

.temp_s3_i3_i3_t3 .col-3 .media_video,
.temp_i6_i3_t3 .col-3 .media_video,
.temp_i12t12 .col-12 .media_video{
  margin-bottom: 0.8em;
}

.full_height{
    max-height: 100% !important;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  p, a {
    font-size: 14px;
  }

  .profile{
    margin: 0 20px;
  }

  .profile_contacts {
    gap: 14px;
  }

  .container {
    margin-bottom: 3em;
    gap: 10px;
  }
  .temp_i10_h2t2 .col-10 { grid-column: span 8; }
  .temp_i10_h2t2 .col-2 { grid-column: span 4; }

  .temp_i8_i2x4_h1t12,
  .temp_i8_i2x4_t12,
  .temp_i8_i4h2t4,
  .temp_i8_i4t4 {
    grid-template-rows: 200px 200px auto; /* первые 2 строки — фиксированные, дальше авто */
  }

  .temp_i7_h1t5_i5x2,
  .temp_i7_h2t5_i5x2,
  .temp_i7_t5_i5x2,
  .temp_h1t5_i7,
  .temp_h2t5_i7,
  .temp_t5_i7 {
    grid-template-rows: 200px 200px auto; /* первые 2 строки — фиксированные, дальше авто */
  }
  
  .temp_i8_i2x4_h1t12 .col-12{
    margin-top: -10px; /* компенсация gap в grid*/
  }
  .temp_i8_i2x4_t12 .col-12 {
    margin-top: calc(0.8em - 10px); /* компенсация gap в grid*/
  }
}


@media (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .container h2 {
    margin-top: 0.8em;
  }
  p, a {
    font-size: 12px;
  }

  .profile {
    flex-direction: column;
    gap: 0px;
  }

  .profile_contacts {
    padding-left: 76px;
    flex-direction: row;
    gap: 16px;
  }

  .profile_contacts.project_page{
    padding-left: 158px;
  }

  .container {
    margin-bottom: 2.5em;
    gap: 6px;
  }

  .temp_i6t6_i6t6 .col-6 img,
  .temp_i3t3x4 .col-3 img{
    margin-bottom: 0.8em;
  }

  .temp_i6t6_i6t6 .col-6 .media_video,
  .temp_i3t3x4 .col-3 .media_video{
    margin-bottom: 0.8em;
  }

  .temp_i8_i2x4_h1t12 .col-12,
  .temp_i8_i2x4_t12 .col-12 {
    margin-top: -6px; /* компенсация gap в grid*/
  }
  .temp_i8_i2x4_t12 .col-12 {
    margin-top: calc(0.8em - 6px); /* компенсация gap в grid*/
  }

  .temp_i7_h1t5_i5x2 h1,
  .temp_i7_h2t5_i5x2 h2,
  .temp_h1t5_i7 h1,
  .temp_h2t5_i7 h2 {
    margin-top: calc(0.8em - 6px); /* компенсация gap в grid*/
  }
  .temp_i7_t5_i5x2 p,
  .temp_t5_i7 p {
    margin-top: calc(1.05em - 6px); /* компенсация gap в grid*/
  }

  .temp_i10_h2t2,
  .temp_i6_h2t6,
  .temp_s3_i3_i3_h2t3,
  .temp_s3_i3_i3_t3,
  .temp_i8_i4h2t4,
  .temp_i8_i4t4{
    row-gap: 0px;
  }
        
  .temp_i6h2t6_i6h2t6{
    row-gap: 2.5em;
  }

  .temp_i8_i4t4 p {
    margin-top: 1.05em;
  }

  .temp_i3t3x4 .add_margin {
     margin-bottom: 2.5em;
  }
 

  

  .temp_i12h1t12 .col-12 img, 
  .temp_i12t12 .col-12 img,
  .temp_i10_h2t2 .col-10 img,
  .temp_i6_h2t6 .col-6 img,
  .temp_i6_i3_h2t3 .col-3 img,
  .temp_i6_i3_t3 .col-3 img,
  .temp_h1t5_i7 .col-7 img,
  .temp_h2t5_i7 .col-7 img,
  .temp_t5_i7 {
    height: 420px;
  }

  .temp_i12h1t12 .col-12 .media_video, 
  .temp_i12t12 .col-12 .media_video,
  .temp_i10_h2t2 .col-10 .media_video,
  .temp_i6_h2t6 .col-6 .media_video,
  .temp_i6_i3_h2t3 .col-3 .media_video,
  .temp_i6_i3_t3 .col-3 .media_video,
  .temp_h1t5_i7 .col-7 .media_video,
  .temp_h2t5_i7 .col-7 .media_video,
  .temp_t5_i7 {
    height: 420px;
  }


  .temp_i6h2t6_i6h2t6 .col-6 img,
  .temp_i6_i3_h2t3 .col-6 img,
  .temp_i6_i3_t3 .col-6 img,
  .temp_h1t5_i7 .col-5 img,
  .temp_h2t5_i7 .col-5 img,
  .temp_t5_i7 .col-5 img {
    height: 280px;
  }

  .temp_i6h2t6_i6h2t6 .col-6 .media_video,
  .temp_i6_i3_h2t3 .col-6 .media_video,
  .temp_i6_i3_t3 .col-6 .media_video,
  .temp_h1t5_i7 .col-5 .media_video,
  .temp_h2t5_i7 .col-5 .media_video,
  .temp_t5_i7 .col-5 .media_video {
    height: 280px;
  }

  .temp_i6t6_i6t6 .col-6 img,
  .temp_i3t3x4 .col-3 img,
  .temp_i6_t6 .col-6 img,
  .temp_s3_i3_i3_t3 .col-3 img{
    height: 320px;
  }

  .temp_i6t6_i6t6 .col-6 .media_video,
  .temp_i3t3x4 .col-3 .media_video,
  .temp_i6_t6 .col-6 .media_video,
  .temp_s3_i3_i3_t3 .col-3 .media_video{
    height: 320px;
  }
  
  .temp_i8_i4h2t4,
  .temp_i8_i4t4 {
    grid-template-rows: 130px 130px auto; /* первые 2 строки — фиксированные, дальше авто */
  }

  .temp_i7_h1t5_i5x2,
  .temp_i7_h2t5_i5x2,
  .temp_i7_t5_i5x2{
    grid-template-rows: 200px 200px auto; /* первые 2 строки — фиксированные, дальше авто */
  }

  .temp_h1t5_i7,
  .temp_h2t5_i7,
  .temp_t5_i7 {
    grid-template-rows: auto; /* все строки авто */
  }

  

  .temp_i10_h2t2 .col-10 { grid-column: span 12; }
  .temp_i10_h2t2 .col-2 { grid-column: span 12; }
  .temp_i6h2t6_i6h2t6 .col-6 { grid-column: span 12; }
  .temp_i6_h2t6 .col-6 { grid-column: span 12; }
  .temp_s3_i3_i3_h2t3 .col-3 { grid-column: span 6; }
  .temp_s3_i3_i3_t3 .col-3 { grid-column: span 6; }
  .temp_i6_i3_h2t3 .col-6, .temp_i6_i3_h2t3 .col-3 { grid-column: span 12; }
  .temp_i6_i3_t3 .col-6, .temp_i6_i3_t3 .col-3 { grid-column: span 12; }
  .temp_s3_i3_i3_h2t3 .mobile-col-12 { grid-column: span 12; }
  .temp_s3_i3_i3_t3 .mobile-col-12 { grid-column: span 12; }

  .temp_i8_i4h2t4 .side_img {grid-row: span 2;}
  .temp_i8_i4h2t4 .mobile-col-12 { grid-column: span 12; }

  .temp_i8_i4t4 .side_img {grid-row: span 2;}
  .temp_i8_i4t4 .mobile-col-12 { grid-column: span 12; }

  .temp_i7_h1t5_i5x2 .col-7 {grid-row: span 2; grid-column: span 8;}
  .temp_i7_h1t5_i5x2 .col-5 { grid-column: span 4; }
  .temp_i7_h1t5_i5x2 .mobile-col-12 { grid-column: span 12; }

  .temp_i7_h2t5_i5x2 .col-7 {grid-row: span 2; grid-column: span 8;}
  .temp_i7_h2t5_i5x2 .col-5 { grid-column: span 4; }
  .temp_i7_h2t5_i5x2 .mobile-col-12 { grid-column: span 12; }

  .temp_i7_t5_i5x2 .col-7 {grid-row: span 2; grid-column: span 8;}
  .temp_i7_t5_i5x2 .col-5 { grid-column: span 4; }
  .temp_i7_t5_i5x2 .mobile-col-12 { grid-column: span 12; }

  .temp_h1t5_i7 .col-5 { grid-column: span 12; }
  .temp_h1t5_i7 .col-7 { grid-column: span 12; }

  .temp_h2t5_i7 .col-5 { grid-column: span 12; }
  .temp_h2t5_i7 .col-7 { grid-column: span 12; }

  .temp_t5_i7 .col-5 { grid-column: span 12; }
  .temp_t5_i7 .col-7 { grid-column: span 12; }

  .temp_i3t3x4 .col-3 { grid-column: span 6; }

  .mobile-col-12 { grid-column: span 12; }


  .mobile_text {
    display: block;
  }

  .desktop_text {
    display: none;
  }

  .full_height{
    height: auto !important;
  }
}



@media (max-width: 600px) {
  .profile {
    flex-direction: column;
    gap: 12px;
  }

  .profile_contacts {
    flex-direction: row;
    gap: 8px;
  }

  .text_block .project_page{
    display: flex;
    gap: 13px;
  }

  .profile_contacts.project_page{
    padding-left: 0px;
  }

  .profile > .profile_contacts.project_page,
  .project_page_text{
    display: none;
  }


}

@media (max-width: 500px) {
  .text_block .project_page{
    flex-direction: column;
  }

}

@media (max-width: 420px) {
  .avatar{
    /* display: none; */
  }

  .profile_contacts {
    /* padding-left: 0px; */
  }

}